.info-list {
    padding-top: 0;
}

.info-list-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.info-list-li {
  padding: 0 0 5px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: left;
}