@font-face {
  font-family:"Poppins-Black";
  src:url("../../public/assets/fonts/poppins/Poppins-Black.ttf");
  }
  @font-face {
  font-family:"Poppins-Blackltalic";
  src:url("../../public/assets/fonts/poppins/Poppins-BlackItalic.ttf");
  }
  @font-face {
  font-family:"Poppins-Bold";
  src:url("../../public/assets/fonts/poppins/Poppins-Bold.ttf");
  }
  @font-face {
  font-family:"Poppins-Boldltalic";
  src:url("../../public/assets/fonts/poppins/Poppins-BoldItalic.ttf");
  }
  @font-face {
  font-family:"Poppins-ExtraBold";
  src:url("../../public/assets/fonts/poppins/Poppins-ExtraBold.ttf");
  }
  @font-face {
  font-family:"Poppins-ExtraBoldltalic";
  src:url("../../public/assets/fonts/poppins/Poppins-ExtraBoldItalic.ttf");
  }
  @font-face {
  font-family:"Poppins-ExtraLight";
  src:url("../../public/assets/fonts/poppins/Poppins-ExtraLight.ttf");
  }
  @font-face {
  font-family:"Poppins-ExtraLightltalic";
  src:url("../../public/assets/fonts/poppins/Poppins-ExtraLightItalic.ttf");
  }
  @font-face {
  font-family:"Poppins-ltalic";
  src:url("../../public/assets/fonts/poppins/Poppins-Italic.ttf");
  }
  @font-face {
  font-family:"Poppins-Light";
  src:url("../../public/assets/fonts/poppins/Poppins-Light.ttf");
  }
  @font-face {
  font-family:"Poppins-Lightltalic";
  src:url("../../public/assets/fonts/poppins/Poppins-LightItalic.ttf");
  }
  @font-face {
  font-family:"Poppins-Medium";
  src:url("../../public/assets/fonts/poppins/Poppins-Medium.ttf");
  }
  @font-face {
  font-family:"Poppins-Mediumltalic";
  src:url("../../public/assets/fonts/poppins/Poppins-MediumItalic.ttf");
  }
  @font-face {
  font-family:"Poppins-Regular";
  src:url("../../public/assets/fonts/poppins/Poppins-Regular.ttf");
  }
  @font-face {
  font-family:"Poppins-SemiBold";
  src:url("../../public/assets/fonts/poppins/Poppins-SemiBold.ttf");
  }
  @font-face {
  font-family:"Poppins-SemiBoldltalic";
  src:url("../../public/assets/fonts/poppins/Poppins-SemiBoldItalic.ttf");
  }
  @font-face {
  font-family:"Poppins-Thin";
  src:url("../../public/assets/fonts/poppins/Poppins-Thin.ttf");
  }
  @font-face {
  font-family:"Poppins-Thinltalic";
  src:url("../../public/assets/fonts/poppins/Poppins-ThinItalic.ttf");
  }

body {
  background-color: #fff;
  font-family:"Poppins-Regular";
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.p-2 {
  width: 50%;
}

.title {
  margin: 0;
  padding: 0 0 5px;
  position: relative;
  font-size: 20px;
  color: #323232;
  line-height: 21px;
  font-weight: 600;
  z-index: 2;
}

.title:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  width: 30px;
  height: 30px;
  background: -moz-linear-gradient(-45deg,rgba(46,202,127,.15) 0%,rgba(46,202,127,.01) 100%);
  background: -webkit-linear-gradient(-45deg,rgba(46,202,127,.15) 0%,rgba(46,202,127,.01) 100%);
  background: linear-gradient(135deg,rgba(46,202,127,.15) 0%,rgba(46,202,127,.01) 100%);
  z-index: -1;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
}
